Desktop
evolution
gnome-session
goa-1.0
google-chrome
gtk-3.0
ibus
Mattermost
nautilus
Pictures
procps
snap
update-notifier
.gsd-keyboard.settings-ported
gnome-initial-setup-done
user-dirs.dirs
user-dirs.locale
