autostart
libreoffice
Desktop
evolution
gnome-session
goa-1.0
google-chrome
gtk-3.0
ibus
Mattermost
nautilus
Pictures
procps
snap
update-notifier
.gsd-keyboard.settings-ported
gnome-initial-setup-done
user-dirs.dirs
user-dirs.locale
Code
FreeCAD
GIMP
dconf
discord
mimeapps.list
nitrogen
QtProject.conf
Postman
pulse
mpv
Insomnia
JetBrains
easyeffects
chromium
cef_user_data
torbrowser
transmission
vlc
systemd/user/default.target.wants
systemd/user/sockets.target.wants
gedit
enchant
